@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$text-color : #d9cfcf;

$black-primary : black;
$black-secondary : #282525;
$border-color : #585656;

$breakpoint-medium: 1224px;
$breakpoint-small: 520px;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: $black-primary;
  background-attachment: fixed;
  color: $text-color;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.01px;
}
@mixin line-clamp($number) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
}

::-webkit-scrollbar {
  width: 0px;
}